/AnalyzeNumbersUsingStream.class
/CollectDemo.class
/CollectGroupDemo.class
/CountKeywordStream.class
/CountLettersUsingStream.class
/CountOccurrenceOfLettersInAString.class
/CountOccurrenceOfWordsStream.class
/DirectorySizeStream.class
/IntStreamDemo.class
/MyStudent.class
/StreamDemo.class
/StreamReductionDemo.class
/TwoDimensionalArrayStream.class
